Repository yangwang201911/openvino, changes with the owners that CODEOWNERS names for each.
All owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-admins, @openvinotoolkit/openvino-samples-maintainers, @openvinotoolkit/openvino-scripts-maintainers, @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-tools-maintainers, @openvinotoolkit/openvino-mo-maintainers, @openvinotoolkit/openvino-pot-maintainers, @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-python-api-maintainers, @GlebKazantaev, @ilyachur, @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers, @openvinotoolkit/openvino-ie-vpu-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-gna-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-ie-paddle-maintainers, @openvinotoolkit/openvino-docs-maintainers, @openvinotoolkit/openvino-ie-template-maintainers, @openvino-configuration-mgmt

Cover Line 551 in the plugin.cpp of AUTO plugin.
  src/tests/unit/auto/get_device_list_test.cpp
Owners: @openvinotoolkit/openvino-ie-tests-maintainers

process FilterDevice coverage and not finished.
  src/plugins/auto/plugin.hpp
  src/tests/unit/auto/get_device_list_test.cpp
  src/tests/unit/auto/plugin/mock_auto_device_plugin.hpp
Owners: @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers

Add sample for detection.
  samples/cpp/hello_detection/CMakeLists.txt
  samples/cpp/hello_detection/README.md
  samples/cpp/hello_detection/main.cpp
Owners: @openvinotoolkit/openvino-samples-maintainers, @openvinotoolkit/openvino-docs-maintainers

Enable property to expose execution device.
  src/inference/include/ie/ie_plugin_config.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/auto/auto_schedule.cpp
  src/plugins/auto/plugin.cpp
  src/plugins/auto/utils/config.hpp
Owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers

Set default value for property execution_devices.
  src/plugins/auto/utils/config.hpp
Owners: @openvinotoolkit/openvino-ie-auto-multi-maintainers

Enable AUTO only supporting its own properties for AUTO's compiledModel::get_property().
  src/plugins/auto/auto_executable_network.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/tests/functional/plugin/shared/include/base/ov_behavior_test_utils.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/get_metric.hpp
Owners: @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-tests-maintainers

Update.
  src/tests/unit/auto/auto_load_network_properties_test.cpp
  src/tests/unit/auto/plugin/mock_load_network_properties.hpp
Owners: @openvinotoolkit/openvino-ie-tests-maintainers

Create the base class for mocking the basic AUTO plugin and Core.
  src/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_coreImpl.hpp
  src/tests/unit/auto/auto_ctput_call_multi.cpp
  src/tests/unit/auto/auto_ctput_test.cpp
  src/tests/unit/auto/auto_default_perf_hint_test.cpp
  src/tests/unit/auto/auto_load_network_properties_test.cpp
  src/tests/unit/auto/plugin/mock_auto_test_common.hpp
  src/tests/unit/auto/plugin/mock_load_network_properties.hpp
Owners: @openvinotoolkit/openvino-ie-tests-maintainers

Remove the hardcoded list of supported plugin by AUTO plugin.
  src/plugins/auto/plugin_config.cpp
  src/plugins/auto/utils/plugin_config.hpp
Owners: @openvinotoolkit/openvino-ie-auto-multi-maintainers

Update precision conversion for IsFinite and IsNaN ops.
  src/common/transformations/src/transformations/convert_precision.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

Update.
  src/common/transformations/src/transformations/convert_precision.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

Update to API 2.0.
  src/plugins/intel_cpu/src/cpu_info.cpp
  src/plugins/intel_cpu/src/cpu_info.h
  src/plugins/intel_cpu/src/plugin.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Update
  src/plugins/intel_cpu/src/cpu_info.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Update.
  src/inference/dev_api/openvino/runtime/icompiled_model.hpp
  src/inference/src/cache_manager.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/icompiled_model.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/compiled_model.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

enable cache for TP.
  src/inference/src/cache_manager.hpp
  src/inference/src/dev/core_impl.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/compiled_model.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/graph.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

clean up.
  src/inference/dev_api/openvino/runtime/icompiled_model.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/icompiled_model.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/compiled_model.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

Update.
  src/plugins/intel_gpu/include/intel_gpu/plugin/compiled_model.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

Update.
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

enable test case and debug info message
  src/inference/src/dev/core_impl.cpp
  src/plugins/intel_gpu/src/graph/include/sync_tensor_inst.h
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/program_builder.cpp
  src/plugins/intel_gpu/tests/unit/transformations/fc_convert_fusion_test.cpp
Owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

cache works on fc test case.
  src/plugins/intel_gpu/include/intel_gpu/graph/serialization/binary_buffer.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/tests/unit/transformations/fc_convert_fusion_test.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

Update.
  src/inference/src/dev/core_impl.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/include/sync_tensor_inst.h
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

[GPU] WA code to fix PTL issue
  src/plugins/intel_gpu/CMakeLists.txt
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

add definition: xe3p
  src/plugins/intel_gpu/include/intel_gpu/runtime/device_info.hpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

add arch number to ocl
  src/plugins/intel_gpu/include/intel_gpu/runtime/device_info.hpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

merge GPU fix patch and fix the bug for first inference time within AUTO
  src/plugins/auto/src/schedule.cpp
  src/plugins/intel_cpu/src/nodes/llm_mlp.cpp
Owners: @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Update.
  src/plugins/intel_gpu/tests/unit/transformations/fc_convert_fusion_test.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

enable single sub compiled model cache enable load blob to single GPU
  src/inference/src/cache_manager.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

enable to load cache blob file directly and inference with half model.
  src/inference/src/cache_manager.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/sync_tensor.cpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/transformations/mlp_tensor_parallel.cpp
  src/plugins/intel_gpu/src/plugin/transformations/pa_tensor_parallel.cpp
Owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

update number of infer requests for throughput mode.
  src/plugins/auto/src/schedule.cpp
Owners: @openvinotoolkit/openvino-ie-auto-multi-maintainers

Fix: guard block_size=128 stage registration behind a pre-Xe2 device check, and clamp get_xattn_block_size() to 256 on Xe2+.
  src/plugins/intel_gpu/src/graph/impls/cm/paged_attention.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

fix PR 36246
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

remove debug info.
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

enable negative test case.
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

add debug output.
  src/plugins/intel_gpu/src/graph/impls/cm/vl_sdpa_opt.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

enable debug output via GPU_DEBUG_TRACE_DETAIL
  src/plugins/intel_gpu/src/graph/impls/cm/vl_sdpa_opt.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

update.
  src/plugins/intel_gpu/src/graph/impls/cm/vl_sdpa_opt.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

[AUTO] Fix low_power_device Python binding and telemetry state
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
  src/plugins/auto/src/utils/device_telemetry.cpp
  src/plugins/auto/src/utils/device_telemetry.hpp
  src/plugins/auto/tests/unit/device_telemetry_test.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers

[AUTO] Fix low_power_device Python exposure and telemetry event handling
  src/plugins/auto/src/utils/device_telemetry.cpp
  src/plugins/auto/src/utils/device_telemetry.hpp
Owners: @openvinotoolkit/openvino-ie-auto-multi-maintainers

[AUTO] Fix Python AUTO property exposure and telemetry callbacks
  src/plugins/auto/src/utils/device_telemetry.hpp
Owners: @openvinotoolkit/openvino-ie-auto-multi-maintainers

[AUTO] Fix low_power_device Python exposure and harden telemetry callbacks
  src/inference/include/openvino/runtime/auto/properties.hpp
  src/plugins/auto/src/utils/device_telemetry.cpp
Owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers

CODEOWNERS:

# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/openvino-maintainers

CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino-maintainers

# CI:
Jenkinsfile  @openvinotoolkit/openvino-admins
/.github/  @openvinotoolkit/openvino-admins
/.ci/  @openvinotoolkit/openvino-admins

# OpenVINO Samples:
/samples/  @openvinotoolkit/openvino-samples-maintainers

# OpenVINO Scripts:
/scripts/  @openvinotoolkit/openvino-scripts-maintainers

# QA Tests:
/tests/  @openvinotoolkit/openvino-tests-maintainers

# Tools:
/tools/  @openvinotoolkit/openvino-tools-maintainers

# Model Optimizer:
/tools/mo/  @openvinotoolkit/openvino-mo-maintainers

# POT:
/tools/pot/  @openvinotoolkit/openvino-pot-maintainers

# IE Core:
/inference-engine/  @openvinotoolkit/openvino-ie-maintainers
/src/bindings/python/ @openvinotoolkit/openvino-ie-python-api-maintainers
/src/common/transformations/  @GlebKazantaev @ilyachur
/src/common/legacy/  @openvinotoolkit/openvino-ngraph-maintainers
/src/common/  @openvinotoolkit/openvino-ie-maintainers
/src/core/  @openvinotoolkit/openvino-ngraph-maintainers
/src/frontends/  @openvinotoolkit/openvino-ngraph-maintainers
/src/tests_deprecated/readers/  @openvinotoolkit/openvino-ngraph-maintainers

# IE CPU:
/src/plugins/intel_cpu/  @openvinotoolkit/openvino-ie-cpu-maintainers @openvinotoolkit/openvino-ie-cpu-developers
/src/common/low_precision_transformations/  @openvinotoolkit/openvino-ie-cpu-maintainers @openvinotoolkit/openvino-ie-cpu-developers
/src/plugins/intel_cpu/thirdparty/mkl-dnn/  @openvinotoolkit/openvino-ie-cpu-maintainers @openvinotoolkit/openvino-ie-cpu-developers

# IE GPU:
/src/inference/include/ie/gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/inference/include/ie/cldnn/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/inference/include/openvino/runtime/intel_gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/plugins/intel_gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers

# IE VPU:
/src/plugins/intel_vpu  @openvinotoolkit/openvino-ie-vpu-maintainers
/src/inference/include/ie/vpu/  @openvinotoolkit/openvino-ie-vpu-maintainers
/inference-engine/thirdparty/movidius/  @openvinotoolkit/openvino-ie-vpu-maintainers
/src/tests_deprecated/unit/engines/vpu/  @openvinotoolkit/openvino-ie-vpu-maintainers @openvinotoolkit/openvino-ie-tests-maintainers
/src/tests_deprecated/functional/vpu/  @openvinotoolkit/openvino-ie-vpu-maintainers @openvinotoolkit/openvino-ie-tests-maintainers
/src/tests_deprecated/behavior/vpu/  @openvinotoolkit/openvino-ie-vpu-maintainers @openvinotoolkit/openvino-ie-tests-maintainers
/src/tests/functional/plugin/myriad/  @openvinotoolkit/openvino-ie-vpu-maintainers @openvinotoolkit/openvino-ie-tests-maintainers
/src/tests/unit/vpu/  @openvinotoolkit/openvino-ie-vpu-maintainers @openvinotoolkit/openvino-ie-tests-maintainers
/src/tests/unit/engines/vpu/  @openvinotoolkit/openvino-ie-vpu-maintainers @openvinotoolkit/openvino-ie-tests-maintainers
/inference-engine/scripts/run_tests_myriad_multistick.sh  @openvinotoolkit/openvino-ie-vpu-maintainers

# IE GNA:
/src/plugins/intel_gna/  @openvinotoolkit/openvino-ie-gna-maintainers
/src/inference/include/ie/gna/  @openvinotoolkit/openvino-ie-gna-maintainers

# IE Auto (MULTI) plugin:
/src/plugins/auto/  @openvinotoolkit/openvino-ie-auto-multi-maintainers
/src/inference/include/ie/multi-device/  @openvinotoolkit/openvino-ie-auto-multi-maintainers

# IE Paddle frontend:
/src/frontends/paddle/  @openvinotoolkit/openvino-ie-paddle-maintainers

# IE Tests:
/src/tests/  @openvinotoolkit/openvino-ie-tests-maintainers
/src/tests_deprecated/  @openvinotoolkit/openvino-ie-tests-maintainers
/src/tests/functional/inference_engine/ngraph_reader/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ngraph-maintainers
/src/tests/functional/inference_engine/transformations/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ngraph-maintainers

# Documentation:
/docs/  @openvinotoolkit/openvino-docs-maintainers
/docs/template_plugin/  @openvinotoolkit/openvino-ie-template-maintainers
*.md  @openvinotoolkit/openvino-docs-maintainers

# Control 3d party dependencies
**/*requirements*.*  @openvino-configuration-mgmt
**/setup.py  @openvino-configuration-mgmt
/scripts/install_dependencies/  @openvino-configuration-mgmt
